<!DOCTYPE html>
<html lang="ko">
<!-- head -->
<%- include('common/head') %>

<body>
  <!-- header -->
  <%- include('common/header') %>

  <main class="container w-full m-w-[1200px] mx-auto p-5">
    <%- body %>
  </main>

  <%- include('common/footer') %>
</body>
</html>
