<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
    <aside>
        <p>Copyright © 2025 스마트 가계부 - All rights reserved by JSH Industries</p>
    </aside>
</footer>