<h1>메인 페이지입니다</h1>
<a href="/about">소개페이지</a><br>
<a href="/household" class="btn btn-soft btn-success">가계부 페이지</a>
<div class="border text-black">테일윈드 테스트 태그</div>
<p class="rounded-[5px] border">테일윈드 테스트2</p>
<div class="text-red-500">asd</div>